%div#inbox
	%h2 Inbox
	%table
		- @wallet_controller.inbox.each do |incoming|
			%tr
				%td= "#{incoming.type}"
				%td= "#{incoming.message}"
				%td= "#{incoming.value}"		
				%td= "#{incoming.unit}"
%div#outbox
	%h2 Outbox
	%table
		- @wallet_controller.outbox.each do |outgoing|
			%tr
				%td= "#{outgoing.type}"
				%td= "#{outgoing.message}"
				%td= "#{outgoing.value}"		
				%td= "#{outgoing.unit}"
