%div#assets
	%h2 Assets
	%table
		- @wallet_controller.wallets.each do |wallet|
			%tr
				%td= "ID"
				%td= "#{wallet.id}"
			%tr
				%td= "Name"
				%td= "#{wallet.name}"
			%tr
				%td= "Balance"	
				%td= "#{wallet.balance}"
			%tr			
				%td= "Type"
				%td= "#{wallet.type}"
			%tr
				%td= "Asset Type ID"	
				%td= "#{wallet.asset_type_id}"
%div#inbox
	%h2 Inbox
	%table
		- @wallet_controller.inbox.each do |incoming|
			%tr
				%td= "#{incoming.type}"
				%td= "#{incoming.message}"
				%td= "#{incoming.value}"		
				%td= "#{incoming.unit}"
%div#outbox
	%h2 Outbox
	%table
		- @wallet_controller.outbox.each do |outgoing|
			%tr
				%td= "#{outgoing.type}"
				%td= "#{outgoing.message}"
				%td= "#{outgoing.value}"		
				%td= "#{outgoing.unit}"
